html {
  margin: 1rem;
}

label {
  margin-left: 1rem;
}

a:hover {
  cursor: pointer;
}

div h6 {
  margin-bottom: 1rem;
}

.container-fluid div {
  border: 1px solid grey;
}

.interest {
  cursor: pointer;
}

.interest:hover {
  text-decoration: underline;
}

form {
  display: flex;
  gap: 10px;
}

@media (max-width: 900px) {
  form {
    flex-direction: column;
  }
}
