#banner-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
}

/* Header layout */
header {
  text-align: center;
  margin-bottom: 20px;
}

/* Title styling */
header h1 {
  margin: 0px;
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  display: block;
  background-color: #BDEBD4ff;
  padding: 20px;
  color: #345E62ff;
}

/* Navigation bar */
nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #004d00; /* dark green for grocery store vibe */
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  font-size: 1.1rem;
}

nav a:hover {
  color: #33a654; /* lighter green on hover */
  text-decoration: underline;
}

/* Main content */
main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

main h2 {
  color: #006600;
}

table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

.primary-button {
  border-radius: 5px;
  border: none;
  background-color: #33a654;
  padding: 10px 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.secondary-button {
  border-radius: 5px;
  border: 2px solid #33a654;
  background-color: white;
  padding: 10px 16px;
  color: #33a654;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}