table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

.primary-button {
  border-radius: 5px;
  border: none;
  background-color: #33a654;
  padding: 10px 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.secondary-button {
  border-radius: 5px;
  border: 2px solid #33a654;
  background-color: white;
  padding: 10px 16px;
  color: #33a654;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}